<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="block" (click)="detect()">Detect</ion-button>
  <ion-button expand="block" (click)="createGroup()">Creating Group</ion-button>
  <ion-button expand="block" (click)="grouping()">Grouping</ion-button>
  <ion-button expand="block" (click)="training()">Training</ion-button>
  <ion-button expand="block" (click)="checkTraining()">Check Training</ion-button>
  <ion-button expand="block" (click)="identify()">Identify</ion-button>

  <ion-button expand="block" color="danger" (click)="delete()">Delete Group</ion-button>
</ion-content>
